<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="initial-scale=1.0">

        <title>jan grosche</title>

        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- link to main stylesheet -->
    <link rel="shortcut icon" href="/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600" rel="stylesheet"> <!-- google fonts -->
    </head>

    <body>
        <div id="main_wrapper">
            <nav>
            
                <p><a href="/" id='my_name'>Jan Grosche</a></p>
                <p><a href="#" id='menu_button'>Menu</a></p>
                {% assign sorted_pages = site.pages | sort:"order" %}
                
                <h1>English</h1>
                <ul>
                    {% for item in sorted_pages %}
                        {% if item.category == "en" %}
                            <li><a {% if page.title == item.title %} class="active" {% endif %} href={{ item.url | permalink }}>{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                <h1>Deutsch</h1>
                <ul>
                {% for item in sorted_pages %}
                    {% if item.category == "de" %}
                        <li><a {% if page.title == item.title %} class="active" {% endif %} href={{ item.url | permalink }}>{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                
                <h1>Etc</h1>
                <ul>
                {% for item in sorted_pages %}
                    {% if item.category == "etc" %}
                        <li><a {% if page.title == item.title %} class="active" {% endif %} href={{ item.url | permalink }}>{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
                        <li><a href="https://linkedin.com/in/jangrosche">LinkedIn</a></li>
                        <li><a href="https://twitter.com/jangrosche">Twitter</a></li>
                        <li><a href="https://github.com/janucember">Github</a></li>
                </ul>
                
                
            </nav>
            
            <div id="main_column">
                <div id="inhalt">
                    <h1>{{ page.title }}</h1>
                    
                    {{ content }}

                </div> <!-- inhalt -->
            </div> <!-- #main_column -->
        </div> <!-- #main_wrapper -->
    </body>
</html>
